<% content_for :title, "TO DO List - Lista #{@list.title}" %>

<div id="<%= dom_id list %>" class="List mt-2">
  <p>
    <div class="Element-Header">
      <h1 class="title"><%= list.title %></h1>
      <button class="Application-Button"><%= link_to 'Nova Tarefa', new_list_task_path(list) %></button>
    </div>
    
    <div class="Task-Container">
      <% if list.tasks.length === 0 %>
        <p class="mt-2">Ainda não há nenhuma tarefa. Crie uma para começar!</p>
      <% else %>
          <%= render list.tasks %>
      <% end %>
    </div>

  </p>
</div>
