<% content_for :title, "TO DO List - Editar lista" %>

<%= render HeaderComponent.new %>

<main class="Main-Container mt-4">
  <h1>Editar lista</h1>

  <%= render "form", list: @list %>

  <button class="Application-Button">
    <%= link_to "Voltar", :back %>
  </button>
</main>
