<% content_for :title, "Nova Lista" %>

<%= render HeaderComponent.new %>

<main class="Main-Container mt-4">
    <h1>Nova Lista</h1>

    <%= render "form", list: @list %>

    <br>

    <button class="Application-Button">
        <%= link_to "Voltar", lists_path %>
    </button class="Application-Button">
</main>
