<p style="color: green"><%= notice %></p>

<%= render HeaderComponent.new %>

<main class="Main-Container mt-4">
  <%= render @list %>

  <button class="Application-Button">
    <%= link_to "Voltar", lists_path %>
    </button>
</main>
