<%= render(HeaderComponent.new) %>

<main class="Main-Container">
    <div class="Home-Content">
        Aqui você pode criar suas tarefas e definir 
        suas respectivas prioridades! Não perca tempo 
        e comece já a criar sua lista de tarefas.
    </div>
    <a href="/tasks" class="Application-Button">Crie sua lista</a>
</main>
