<% content_for :title, "Tarefas" %>

<%= render(HeaderComponent.new) %>

<main class="Main-Container">
    <div class="Home-Content">
        Aqui você pode criar suas tarefas! Não perca tempo 
        e comece já a criar sua lista de tarefas.
    </div>
    <button class="Application-Button"><%= link_to "Criar Lista", lists_path %></button>
</main>
