button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 1vh 1vw;
}

button:hover {
    cursor: pointer;
}

.Application-Button {
    background-color: #FF5C13;
    font-size: 1.5rem;
    padding: 2vh 2vw;
    transition: .3s;
    border-radius: 4px;
    color: #fff;
}

.Application-Button:hover {
    background-color: #ff6b27e3;
}

.Log-Out-Button {
    background-color: #FF5C13;
    transition: .3s;
    color: #fff;
    width: 8rem;
    font-size: 1.2rem;
    align-self: flex-end;
}

.Cancel-Account-Button {
    border: 2px solid #FF5C13;
    color: #fff;
    align-self: center;
    font-size: 1rem;
}