.Application-Button {
    background-color: #FF5C13;
    font-size: 1.5rem;
    border-radius: 24px;
    padding: 2vh 2vw;
    transition: .3s;
}

.Application-Button:hover {
    background-color: #ff6b27e3;
}