.Application-Header {
    font-size: 2.5rem;
    -webkit-box-shadow: -1px 6px 5px 0px rgba(0, 0, 0, 0.527);
    -moz-box-shadow: -1px 6px 5px 0px rgba(0, 0, 0, 0.527);
    box-shadow: -1px 6px 5px 0px rgba(0, 0, 0, 0.534);
    min-height: 12vh;
    padding: 4vh 12vh;
}

.Application-Header a {
    text-decoration: none;
    color: #fff;
    transition: .7s;
}

.Application-Header a:hover {
    color: #ff5e13a1;
}