.Task {
    border: 4px solid #592A9E;
    border-radius: 12px;
    padding: 2vh 1vw;
    transition: .3s;
}

.Tasks-List {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.Task-Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

.Task-Description {
    font-size: 1.8rem;
    width: 30%;
}

.New-Task-Button {
    align-self: flex-end;
}

.Checked {
    background-color: #582a9e83;
    transition: .3s;
    color: #fff;
    text-decoration: line-through;
}